header {
    display: flex;
    padding: 20px;
    margin-bottom: 20px;
    background-color:rgb(17, 93, 207) ;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card {
  background: black;
  padding: 10px;
  margin-bottom: 20px;
  color: bisque;
  }
  
.logo {
    display: block;
    align-self: flex-start;
    font-weight: 900;
}

.header-heading {
    display: inline-block;
    align-content: center;
    font-weight: 600;
    align-self: center;
}

.delete-btn {
    background-color: brown;
    color: aliceblue;
    padding: 10px;
}

.add-post-btn {
  background-color: rgb(73, 71, 71);
  color: aliceblue;
  padding: 10px;
}



.loader {
    display: inline;
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: #fff;
    visibility: visible;
  }
    .loader:before,
    .loader:after {
      content: '';
      display: block;
      /* position: absolute;
      top: 0;
      left: 0; */
      width: inherit;
      height: inherit;
      border-radius: 50%;
      transform: rotateX(70deg);
      animation: 1s spin linear infinite;
    }
    .loader:after {
      color: #FF3D00;
      transform: rotateY(70deg);
      animation-delay: .4s;
    }

  @keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotateZ(360deg);
    }
  }

  @keyframes rotateccw {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }

  @keyframes spin {
    0%,
    100% {
      box-shadow: .2em 0px 0 0px currentcolor;
    }
    12% {
      box-shadow: .2em .2em 0 0 currentcolor;
    }
    25% {
      box-shadow: 0 .2em 0 0px currentcolor;
    }
    37% {
      box-shadow: -.2em .2em 0 0 currentcolor;
    }
    50% {
      box-shadow: -.2em 0 0 0 currentcolor;
    }
    62% {
      box-shadow: -.2em -.2em 0 0 currentcolor;
    }
    75% {
      box-shadow: 0px -.2em 0 0 currentcolor;
    }
    87% {
      box-shadow: .2em -.2em 0 0 currentcolor;
    }
  }

  .post-modal {
      width: 300px;
      height: 200px;
      border: 1px solid darkmagenta;
      border-radius: 5px;
      padding: 10px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      background-color: rgb(93, 92, 90);
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none;

  }

  .edit-modal {
    width: 300px;
    height: 400px;
    border: 1px solid darkmagenta;
    border-radius: 5px;
    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: blanchedalmond;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }

  .input {
    margin-bottom: 10px;
    display: block;
    padding: 10px;
    background: #eae8e8;
    color: #1a1919;
    border-radius: 4px;
  }